name: llama-server-intel Compile & Build & Push 

on:
  #push:
  #  branches: main
  workflow_dispatch:
  schedule:
    - cron: '0 0 * * 0'

env:
  REGISTRY: ghcr.io
  IMAGE: llama-cpp-intel

jobs:
  
  build-and-push:
    runs-on: ubuntu-24.04
    permissions:
      contents: read
      packages: write

    strategy:
      max-parallel: 2
      matrix:
        march: [alderlake, skylake]
    steps:
      - name: Maximize Build Space
        run: |
          set -eux
            sudo rm -rf /usr/share/dotnet
            sudo rm -rf /usr/local/lib/android
            sudo rm -rf /opt/ghc
            sudo rm -rf /opt/hostedtoolcache/CodeQL
            sudo docker image prune --all --force
          
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Log in to the GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract metadata for Docker
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.REGISTRY }}/${{ github.repository_owner }}/${{ env.IMAGE }}

      - name: Fetch the latest Git tag
        id: get_latest_tag
        run: |
          latest_tag=$(git ls-remote --tags https://github.com/ggml-org/llama.cpp | awk -F'/' '/refs\/tags\/b/{print $3}' | sort -V | tail -n1)
          # echo "latest_tag=${latest_tag}" >> $GITHUB_ENV
          echo "latest_tag=b7406" >> $GITHUB_ENV

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: ./dockerfile
          file: ./dockerfile/llama-cpp-intel/Dockerfile
          push: true
          tags: |
            ${{ steps.meta.outputs.tags }}-${{ matrix.march }}
            ${{ steps.meta.outputs.tags }}-${{ env.latest_tag }}-${{ matrix.march }}
          build-args: |
            MARCH=${{ matrix.march }}
            VERSION=${{ env.latest_tag }}            
